body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #e1e6f3; }

h1 {
  font-size: 45px;
  font-family: 'Inter', sans-serif;
  color: #2f2f2f;
  margin: 0;
  text-rendering: optimizelegibility; }

p {
  margin: 20px 0; }

a {
  text-decoration: none;
  color: inherit; }

.main {
  width: 45vw;
  margin: auto;
  padding: 35px 30px;
  border-radius: 15px;
  color: #2f2f2f;
  background: #f2f5fa; }
  @media all and (max-width: 1024px) {
    .main {
      width: 70vw; } }

.intro {
  text-align: justify;
  font-family: 'Avenir Next', 'Prompt'; }

.footer a {
  font-size: 22px;
  margin: 0; }
