body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(0deg, #FFF5D3, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #FFF5D3, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #FFF5D3, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #FFF5D3, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #FFF5D3, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #FFF5D3, 100%, transparent 100%) no-repeat;
  background-color: transparent;
  background-size: 1px auto, 1px auto, 1px auto, 1px auto, 1px auto, 1px auto;
  background-position: 70px, calc(20% + 42px), calc(40% + 14px), calc(60% - 14px), calc(80% - 42px), calc(100% - 70px);
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.darkMode {
  height: 100%;
  background: linear-gradient(0deg, #525252, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #525252, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #525252, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #525252, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #525252, 100%, transparent 100%) no-repeat, linear-gradient(0deg, #525252, 100%, transparent 100%) no-repeat;
  background-color: #202344;
  background-size: 1px auto, 1px auto, 1px auto, 1px auto, 1px auto, 1px auto;
  background-position: 70px, calc(20% + 42px), calc(40% + 14px), calc(60% - 14px), calc(80% - 42px), calc(100% - 70px);
  color: #FFFFFF;
}

*, :before, :after {
  box-sizing: inherit;
}

.main {
  margin: 0;
  padding: 0 70px 0 70px;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  text-decoration: none;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  /* color: #6b778d; */
  /* opacity: 40%; */
  margin: 0;
}

p {
  color: inherit;
  font-size: 18px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

.header {
  padding: 22px 70px;
  width: calc(100% - 140px);
  position: fixed;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  z-index: 10;
}
/* .header img {
  border: 0;
  width: 4vh;
} */

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.nav-item {
  flex-basis: 20%;
}
.nav-item a {
  box-shadow: inset 0 -7px 0 #F2DEBD;
}

.dark-light-switcher {
  color: inherit;
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  text-align: center;
}

.dark-light-switcher button {
  all: unset;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a {
  font-size: 20px;
  margin-bottom: 25px;
}

/* Main section */

.intro {
  margin: 160px 0 160px 0;
  font-size: 100px;
  font-family: 'Avenir Next', 'Prompt';
  font-weight: bold;
}

.about {
  display: flex;
  flex-wrap: wrap;
}
.label {
  /* color: inherit; */
  flex-basis: 20%;
}
.content {
  color: inherit;
  flex-basis: 60%;
  margin-bottom: 40px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project {
  width: 60%;
  height: 20%;
  overflow: hidden;
  margin-bottom: 30px;
}
.project-thumbnail {
  background: #F2DEBD;
  overflow: hidden;
  position: relative;
}
.p-light {
  color: white;
}
.p-dark {
  color: black;
}
.project-name {
  font-size: 40px;
  position: absolute;
  bottom: 18px;
  left: 16px;
}
.project img {
  opacity: 0.8;
  height: 250px;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  transition: .5s ease;
  background-color: #F2DEBD;
}
.project:hover .overlay {
  opacity: 0.8;
}
